---
import HeroLinks from "./HeroLinks.astro";
import HeroButtons from "./HeroButtons.astro";
---

<section id="home">
    <div class="flex flex-col justify-center min-h-screen">
        <!-- Information -->
        <div class="mb-14">
            <span class="text-5xl font-semibold text-gray-200">Hola, soy Alex</span>

            <h1 class="mt-3 mb-8 text-5xl font-bold bg-gradient-to-r from-purple-500 to-pink-500 bg-clip-text text-transparent">
                Desarrollador Web Full Stack
            </h1>

            <p class="max-w-xl text-xl text-gray-300">
                Creo aplicaciones web funcionales enfocadas en el rendimiento, la estética
                y la eficiencia, manteniendo un código limpio y fácil de mantener.
            </p>
        </div>

        <!-- Contact & social links -->
        <HeroLinks/>

        <!-- CTA buttons -->
        <HeroButtons/>
    </div>
</section>