---
import DocumentIcon from "../../../assets/icons/general/DocumentIcon.astro";
import ArrowRightIcon from "../../../assets/icons/general/ArrowRightIcon.astro";
---

<div class="flex items-center gap-5 mt-8">
    <a href="/documents/CV_ES_Alejandro_Ramos_Sanchez.pdf" aria-label="View my resume" target="_blank" rel="noopener noreferrer" class="flex items-center px-5 py-2.5 gap-2 rounded-md group border border-neutral-700 hover:border-purple-500 hover:bg-purple-500/10 text-neutral-200 hover:text-purple-400 transition-color duration-200 ease-in-out">
        <DocumentIcon class="w-4 h-4 text-gray-200 group-hover:text-purple-400" />
        <span class="text-sm font-medium text-gray-200 group-hover:text-purple-400">Mi Currículum</span>
    </a>

    <a href="/#projects" aria-label="Go to the projects section" class="flex items-center px-5 py-2.5 gap-2 rounded-md group border border-neutral-700 hover:border-purple-500 hover:bg-purple-500/10 text-neutral-200 hover:text-purple-400 transition-color duration-200 ease-in-out">
        <span class="text-sm font-medium text-gray-200 group-hover:text-purple-400">Ver Proyectos</span>
        <ArrowRightIcon class="w-4 h-4 text-gray-200 group-hover:text-purple-400" />
    </a>
</div>