---
import GitHubIcon from "../../../assets/icons/general/GitHubIcon.astro";
import LinkedInIcon from "../../../assets/icons/general/LinkedInIcon.astro";
import MailIcon from "../../../assets/icons/general/MailIcon.astro";
---

<div class="flex items-center gap-8 ml-1">
    <a href="https://github.com/Alexrsnchz" aria-label="Go to my GitHub profile" class="flex items-center gap-2 group">
        <GitHubIcon class="w-5 h-5 text-gray-200 group-hover:text-purple-400 transition-color duration-200 ease-in-out" />
        <span class="text-gray-200 group-hover:text-purple-400 transition-color duration-200 ease-in-out">GitHub</span>
    </a>

    <a href="https://www.linkedin.com/in/alejandroramos7/" aria-label="Go to my LinkedIn profile" class="flex items-center gap-2 group transition-color duration-200 ease-in-out">
        <LinkedInIcon class="w-5 h-5 text-gray-200 group-hover:text-purple-400 transition-color duration-200 ease-in-out" />
        <span class="text-gray-200 group-hover:text-purple-400 transition-color duration-200 ease-in-out">LinkedIn</span>
    </a>

    <a href="mailto:alexrsnchz7@gmail.com" aria-label="Send me an email" class="flex items-center gap-2 group transition-color duration-200 ease-in-out">
        <MailIcon class="w-5 h-5 text-gray-200 group-hover:text-purple-400 transition-color duration-200 ease-in-out" />
        <span class="text-gray-200 group-hover:text-purple-400 transition-color duration-200 ease-in-out">Email</span>
    </a>
</div>