---
import GitHubIcon from "@icons/general/GitHubIcon.astro";
import LinkedInIcon from "@icons/general/LinkedInIcon.astro";
import MailIcon from "@icons/general/MailIcon.astro";
---

<div class="flex items-center gap-8 md:ml-1">
    <a href="https://github.com/Alexrsnchz" aria-label="Go to my GitHub profile" target="_blank" rel="noopener noreferrer" class="flex items-center gap-2 group">
        <GitHubIcon class="w-5 h-5 text-gray-600 dark:text-gray-200 group-hover:text-sky-300 dark:group-hover:text-purple-400 transition-color duration-200 ease-in-out" />
        <span class="text-gray-600 dark:text-gray-200 group-hover:text-sky-300 dark:group-hover:text-purple-400 transition-color duration-200 ease-in-out">GitHub</span>
    </a>

    <a href="https://www.linkedin.com/in/alejandrorsnchz/" aria-label="Go to my LinkedIn profile" target="_blank" rel="noopener noreferrer" class="flex items-center gap-2 group transition-color duration-200 ease-in-out">
        <LinkedInIcon class="w-5 h-5 text-gray-600 dark:text-gray-200 group-hover:text-rose-300 dark:group-hover:text-purple-400 transition-color duration-200 ease-in-out" />
        <span class="text-gray-600 dark:text-gray-200 group-hover:text-rose-300 dark:group-hover:text-purple-400 transition-color duration-200 ease-in-out">LinkedIn</span>
    </a>

    <a href="mailto:alexrsnchz7@gmail.com" aria-label="Send me an email" target="_blank" rel="noopener noreferrer" class="flex items-center gap-2 group transition-color duration-200 ease-in-out">
        <MailIcon class="w-5 h-5 text-gray-600 dark:text-gray-200 group-hover:text-amber-400 dark:group-hover:text-purple-400 transition-color duration-200 ease-in-out" />
        <span class="text-gray-600 dark:text-gray-200 group-hover:text-amber-400 dark:group-hover:text-purple-400 transition-color duration-200 ease-in-out">Email</span>
    </a>
</div>