---
import DocumentIcon from "@icons/general/DocumentIcon.astro";
import ArrowRightIcon from "@icons/general/ArrowRightIcon.astro";
---

<div class="flex items-center gap-5 mt-8">
    <a href="/documents/CV_ES_Alejandro_Ramos_Sanchez.pdf" aria-label="View my resume" target="_blank" rel="noopener noreferrer" class="flex items-center px-5 py-2.5 gap-2 rounded-md group border border-gray-600 dark:border-neutral-700 hover:border-sky-300 dark:hover:border-purple-500 hover:bg-sky-300/10 dark:hover:bg-purple-500/10 transition-color duration-200 ease-in-out">
        <DocumentIcon class="w-4 h-4 text-gray-600 dark:text-gray-200 group-hover:text-sky-300 dark:group-hover:text-purple-400" />
        <span class="text-sm font-medium text-gray-600 dark:text-gray-200 group-hover:text-sky-300 dark:group-hover:text-purple-400">Mi Currículum</span>
    </a>

    <a href="/#projects" aria-label="Go to the projects section" class="flex items-center px-5 py-2.5 gap-2 rounded-md group border border-gray-600 dark:border-neutral-700 hover:border-amber-400 dark:hover:border-purple-500 hover:bg-amber-400/10 dark:hover:bg-purple-500/10 transition-color duration-200 ease-in-out">
        <span class="text-sm font-medium text-gray-600 dark:text-gray-200 group-hover:text-amber-400 dark:group-hover:text-purple-400">Ver Proyectos</span>
        <ArrowRightIcon class="w-4 h-4 text-gray-600 dark:text-gray-200 group-hover:text-amber-400 dark:group-hover:text-purple-400" />
    </a>
</div>