---
import LanguageIcon from "../../../assets/icons/general/LanguageIcon.astro";
import ChevronDownIcon from "../../../assets/icons/general/ChevronDownIcon.astro";
import EsFlagIcon from "../../../assets/icons/flags/EsFlagIcon.astro";
import UsFlagIcon from "../../../assets/icons/flags/UsFlagIcon.astro";
---

<div id="language-button" class="flex items-center relative space-x-1 cursor-pointer">
    <LanguageIcon class="w-5 h-5 text-gray-800 dark:text-gray-200" />
    <span class="text-sm font-medium text-gray-800 dark:text-gray-200">ES</span>
    <ChevronDownIcon id="chevron-icon" class="mt-0.75 w-4 h-4 text-gray-800 dark:text-gray-200 transition-transform duration-200 ease-in-out" />

    <div id="language-menu" class="hidden absolute top-full mt-3 rounded-lg border border-gray-300 dark:border-neutral-700 bg-gray-100 dark:bg-neutral-900">
        <ul>
            <li class="rounded-t-lg hover:bg-gray-200 dark:hover:bg-neutral-800">
                <a href="#" aria-label="Go to spanish section" class="flex items-center px-3 py-2 space-x-2">
                    <EsFlagIcon class="w-6 h-6" />
                    <span class="font-medium text-gray-800 dark:text-gray-200">Español</span>
                </a>
            </li>
            <li class="rounded-b-lg hover:bg-gray-200 dark:hover:bg-neutral-800">
                <a href="#" aria-label="Go to the english section" class="flex items-center px-3 py-2 space-x-2">
                    <UsFlagIcon class="w-6 h-6" />
                    <span class="font-medium text-gray-800 dark:text-gray-200">English</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    // Obtains the button, menu, and icon elements
    const languageButton = document.getElementById('language-button');
    const languageMenu = document.getElementById('language-menu');
    const chevronIcon = document.getElementById('chevron-icon');

    // Toggles the language menu
    languageButton?.addEventListener('click', () => {
        languageMenu?.classList.toggle('hidden');
        chevronIcon?.classList.toggle('rotate-180');
    })

    // Closes the language menu if outside click
    document.addEventListener('click', (event) => {
        const target = event.target as Node;

        if (!languageButton?.contains(target)) {
            languageMenu?.classList.add('hidden');
            chevronIcon?.classList.remove('rotate-180');
        }
    });
</script>