---
import LanguageIcon from "../../../assets/icons/page/LanguageIcon.astro";
import ChevronDownIcon from "../../../assets/icons/page/ChevronDownIcon.astro";
---

<div class="flex items-center space-x-2">
    <LanguageIcon class="w-5 h-5" />
    <span class="text-sm font-medium">ES</span>
    <ChevronDownIcon class="mt-0.5 w-4 h-4" />
</div>