---
import ThemeSwitch from "./ThemeSwitch.astro";
import LanguageSwitch from "./LanguageSwitch.astro";

const { lang } = Astro.props;
---

<div class="flex items-center gap-6 md:gap-8">
    <ThemeSwitch />
    <LanguageSwitch lang={lang} />
</div>