---
import NavLinks from './NavLinks.astro';
import NavActions from "./NavActions.astro";
---
<nav class="flex justify-center">
    <div class="flex justify-between items-center px-8 py-4 mx-auto space-x-20 max-w-7xl bg-transparent">
        <span class="font-semibold">Alexrsnchz.dev</span>
        <NavLinks />
        <NavActions />
    </div>
</nav>