---
import NavLinks from './NavLinks.astro';
import NavActions from "./NavActions.astro";
---

<nav class="flex justify-center">
    <!-- Actual navbar -->
    <div id="navbar" class="flex justify-evenly items-center fixed top-0 z-50 px-8 py-4 mx-auto gap-28 max-w-7xl rounded-lg border border-transparent bg-transparent transition-all duration-600 ease-in-out">
        <a href="/#home" aria-label="Go to the home section" class="font-semibold text-gray-800 dark:text-gray-200">Alexrsnchz</a>
        <NavLinks />
        <NavActions />
    </div>
</nav>

<script>
    // Obtains navbar element
    const navbar = document.getElementById('navbar');

    // Transforms the navbar (with Tailwind classes) when the page is scrolled
    window.addEventListener('scroll', () => {
        const scrolled = window.scrollY > 10;

        navbar?.classList.toggle('border-transparent', !scrolled);
        navbar?.classList.toggle('border-gray-300', scrolled);
        navbar?.classList.toggle('dark:border-neutral-700', scrolled);
        navbar?.classList.toggle('bg-gray-200/30', scrolled);
        navbar?.classList.toggle('dark:bg-neutral-800/30', scrolled);
        navbar?.classList.toggle('backdrop-blur-md', scrolled);
        navbar?.classList.toggle('shadow-md', scrolled);
        navbar?.classList.toggle('translate-y-5', scrolled);
    });
</script>