<ul class="flex items-center space-x-12">
    <li><a href="/#experience" class="text-sm font-medium text-gray-800 dark:text-gray-200 dark:hover:text-purple-400 transition-color duration-200 ease-in-out">Experiencia</a></li>
    <li><a href="/#projects" class="text-sm font-medium text-gray-800 dark:text-gray-200 dark:hover:text-purple-400 transition-color duration-200 ease-in-out">Proyectos</a></li>
    <li><a href="/##stack" class="text-sm font-medium text-gray-800 dark:text-gray-200 dark:hover:text-purple-400 transition-color duration-200 ease-in-out">Stack</a></li>
    <li><a href="/#certifications" class="text-sm font-medium text-gray-800 dark:text-gray-200 dark:hover:text-purple-400 transition-color duration-200 ease-in-out">Certificaciones</a></li>
    <li><a href="/#contact" class="text-sm font-medium text-gray-800 dark:text-gray-200 dark:hover:text-purple-400 transition-color duration-200 ease-in-out">Contacto</a></li>
</ul>