<ul class="flex items-center gap-10">
    <li><a href="#experience" aria-label="Go to the experience section" class="text-sm font-medium text-gray-800 dark:text-gray-200 dark:hover:text-purple-400 transition-color duration-200 ease-in-out">Experiencia</a></li>
    <li><a href="#projects" aria-label="Go to the projects section" class="text-sm font-medium text-gray-800 dark:text-gray-200 dark:hover:text-purple-400 transition-color duration-200 ease-in-out">Proyectos</a></li>
    <li><a href="#stack" aria-label="Go to the stack section" class="text-sm font-medium text-gray-800 dark:text-gray-200 dark:hover:text-purple-400 transition-color duration-200 ease-in-out">Stack</a></li>
    <li><a href="#certifications" aria-label="Go to the certifications section" class="text-sm font-medium text-gray-800 dark:text-gray-200 dark:hover:text-purple-400 transition-color duration-200 ease-in-out">Certificaciones</a></li>
    <li><a href="#contact" aria-label="Go to the contact section" class="text-sm font-medium text-gray-800 dark:text-gray-200 dark:hover:text-purple-400 transition-color duration-200 ease-in-out">Contacto</a></li>
</ul>