---
import SunIcon from "../../../assets/icons/page/SunIcon.astro";
import MoonIcon from "../../../assets/icons/page/MoonIcon.astro";
---

<button id="theme-button" class="relative w-5 h-5 cursor-pointer">
    <SunIcon id="light-icon" class="absolute inset-0 w-5 h-5 opacity-100 text-yellow-500 transition-opacity duration-400" />
    <MoonIcon id="dark-icon" class="absolute inset-0 w-5 h-5 opacity-0 text-purple-400 transition-opacity duration-400" />
</button>

<script>
    // Obtains the button and icons elements
    const themeButton = document.getElementById('theme-button');
    const lightIcon = document.getElementById('light-icon');
    const darkIcon = document.getElementById('dark-icon');

    // Applies the correct styles to the icons depending on the theme
    function applyTheme() {
        const isDark = document.documentElement.classList.contains('dark');

        lightIcon?.classList.toggle('opacity-100', !isDark);
        lightIcon?.classList.toggle('opacity-0', isDark);
        darkIcon?.classList.toggle('opacity-0', !isDark);
        darkIcon?.classList.toggle('opacity-100', isDark);
    }

    applyTheme();

    // Changes theme when the button is clicked
    themeButton?.addEventListener('click', () => {
        const darkTheme = document.documentElement.classList.toggle('dark');
        localStorage.setItem('theme', darkTheme ? 'dark' : 'light');

        applyTheme();
    });
</script>