---
import CaseIcon from "@icons/general/CaseIcon.astro";
import TimelineSectionFirst from "./TimelineSectionFirst.astro";
import TimelineSectionSecond from "./TimelineSectionSecond.astro";
---

<section id="experience" class="py-20">
    <!-- Section title -->
    <div class="flex items-center gap-3">
        <CaseIcon class="w-8 h-8 text-gray-200"/>
        <h2 class="text-3xl font-semibold text-gray-200">Experiencia</h2>
    </div>

    <!-- Section content -->
    <div class="mt-15">
        <TimelineSectionFirst />
        <TimelineSectionSecond />
    </div>
</section>