---
import CloudIcon from "@icons/general/CloudIcon.astro";
import VercelLogo from "@logos/cloud/VercelLogo.astro";
import RailwayLogo from "@logos/cloud/RailwayLogo.astro";
//import DockerLogo from "@logos/cloud/DockerLogo.astro";
---

<article class="p-5 space-y-5 rounded-lg border border-neutral-700 bg-neutral-900/30">
    <!-- Card title -->
    <div class="flex items-center gap-3">
        <div class="p-2 rounded-lg bg-purple-500/10">
            <CloudIcon class="w-7 h-7 text-purple-400" />
        </div>

        <h3 class="text-xl font-bold text-purple-400">Cloud & DevOps</h3>
    </div>

    <!-- Card content -->
    <div class="grid grid-cols-2 gap-3">
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <VercelLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">Vercel</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <RailwayLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">Railway</span>
        </div>
        <!--
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <DockerLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">Docker</span>
        </div>
        -->
    </div>
</article>