---
import ScreenIcon from "@icons/general/ScreenIcon.astro";
import HTMLLogo from "@logos/frontend/HTMLLogo.astro";
import CSSLogo from "@logos/frontend/CSSLogo.astro";
import JavaScriptLogo from "@logos/frontend/JavaScriptLogo.astro";
import TypeScriptLogo from "@logos/frontend/TypeScriptLogo.astro";
import TailwindCSSLogo from "@logos/frontend/TailwindCSSLogo.astro";
import ReactLogo from "@logos/frontend/ReactLogo.astro";
---

<div class="p-5 space-y-5 rounded-lg border border-neutral-700 bg-neutral-900/30">
    <!-- Card title -->
    <div class="flex items-center gap-3">
        <div class="p-2 rounded-lg bg-neutral-500/20">
            <ScreenIcon class="w-7 h-7 text-neutral-400" />
        </div>

        <h3 class="text-xl font-bold text-purple-400">Frontend Development</h3>
    </div>

    <!-- Card content -->
    <div class="grid grid-cols-2 gap-3">
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <HTMLLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">HTML</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <CSSLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">CSS</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <TailwindCSSLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">Tailwind CSS</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <JavaScriptLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">JavaScript</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <TypeScriptLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">TypeScript</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <ReactLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">React</span>
        </div>
    </div>
</div>