---
import ScreenIcon from "@icons/general/ScreenIcon.astro";
import HTMLLogo from "@logos/frontend/HTMLLogo.astro";
import CSSLogo from "@logos/frontend/CSSLogo.astro";
import TailwindCSSLogo from "@logos/frontend/TailwindCSSLogo.astro";
import JavaScriptLogo from "@logos/frontend/JavaScriptLogo.astro";
//import TypeScriptLogo from "@logos/frontend/TypeScriptLogo.astro";
import ReactLogo from "@logos/frontend/ReactLogo.astro";
---

<article class="p-5 space-y-5 rounded-lg border border-gray-300 dark:border-neutral-700 bg-gray-100/30 dark:bg-neutral-900/30">
    <div class="flex items-center gap-3">
        <div class="p-2 rounded-lg bg-sky-500/10 dark:bg-purple-500/10">
            <ScreenIcon class="w-7 h-7 text-sky-300 dark:text-purple-400" />
        </div>

        <h3 class="text-xl font-bold bg-gradient-to-r from-sky-300 dark:from-purple-500 via-rose-300 dark:via-pink-500 to-amber-400 dark:to-pink-500 bg-clip-text text-transparent">
            Frontend Development
        </h3>
    </div>

    <div class="grid grid-cols-2 gap-3">
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-gray-300/50 dark:bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-white dark:bg-neutral-700/20">
                <HTMLLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-gray-600 dark:text-neutral-400">HTML</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-gray-300/50 dark:bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-white dark:bg-neutral-700/20">
                <CSSLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-gray-600 dark:text-neutral-400">CSS</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-gray-300/50 dark:bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-white dark:bg-neutral-700/20">
                <TailwindCSSLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-gray-600 dark:text-neutral-400">Tailwind CSS</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-gray-300/50 dark:bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-white dark:bg-neutral-700/20">
                <JavaScriptLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-gray-600 dark:text-neutral-400">JavaScript</span>
        </div>
        <!--
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-gray-300/50 dark:bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-white dark:bg-neutral-700/20">
                <TypeScriptLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-gray-600 dark:text-neutral-400">TypeScript</span>
        </div>
        -->
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-gray-300/50 dark:bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-white dark:bg-neutral-700/20">
                <ReactLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-gray-600 dark:text-neutral-400">React</span>
        </div>
    </div>
</article>
