---
import ShieldIcon from "@icons/general/ShieldIcon.astro";
import JestLogo from "@logos/security/JestLogo.astro";
import SupertestLogo from "@logos/security/SupertestLogo.astro";
import Auth0Logo from "@logos/security/Auth0Logo.astro";
import JWTLogo from "@logos/security/JWTLogo.astro";
---

<div class="p-5 space-y-5 rounded-lg border border-neutral-700 bg-neutral-800">
    <!-- Card title -->
    <div class="flex items-center gap-3">
        <div class="p-2 rounded-lg bg-neutral-700">
            <ShieldIcon class="w-8 h-8 text-white" />
        </div>

        <h3 class="text-xl font-bold text-gray-200">Testing & Security</h3>
    </div>

    <!-- Card content -->
    <div class="grid grid-cols-2 gap-3">
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-700">
            <div class="p-2 rounded-lg bg-neutral-600">
                <JestLogo class="w-8 h-8 text-purple-400" />
            </div>

            <span class="text-sm font-medium text-gray-200">Jest</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-700">
            <div class="p-2 rounded-lg bg-neutral-600">
                <SupertestLogo class="w-8 h-8 text-purple-400" />
            </div>

            <span class="text-sm font-medium text-gray-200">Supertest</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-700">
            <div class="p-2 rounded-lg bg-neutral-600">
                <Auth0Logo class="w-8 h-8 text-purple-400" />
            </div>

            <span class="text-sm font-medium text-gray-200">Auth0</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-700">
            <div class="p-2 rounded-lg bg-neutral-600">
                <JWTLogo class="w-8 h-8 text-purple-400" />
            </div>

            <span class="text-sm font-medium text-gray-200">JWTLogo</span>
        </div>
    </div>
</div>