---
import LayersIcon from "@icons/general/LayersIcon.astro";
import StackCard from "./StackCard.astro";
import stackData from "@data/stackData.ts";
---

<section id="stack">
    <!-- Section title -->
    <div class="flex items-center gap-3">
        <LayersIcon class="w-8 h-8 text-gray-200"/>
        <h2 class="text-3xl font-semibold text-gray-200">Habilidades</h2>
    </div>

    <!-- Section content -->
    <div class="grid grid-cols-3 gap-8 mt-15">
        {stackData.map(({title, icon, stack}) => (
                <StackCard title={title} icon={icon} stack={stack}/>
        ))}
    </div>
</section>