---
import LayersIcon from "@icons/general/LayersIcon.astro";
import FrontendCard from "./FrontendCard.astro";
import BackendCard from "./BackendCard.astro";
import DatabaseCard from "./DatabaseCard.astro";
import ToolsCard from "./ToolsCard.astro";
import CloudCard from "./CloudCard.astro";
import SecurityCard from "./SecurityCard.astro";
---

<section id="stack">
    <!-- Section title -->
    <div class="flex items-center gap-3">
        <LayersIcon class="w-8 h-8 text-gray-200"/>
        <h2 class="text-3xl font-semibold text-gray-200">Habilidades</h2>
    </div>

    <!-- Section content -->
    <div class="grid grid-cols-3 gap-8 mt-15">
        <FrontendCard/>
        <BackendCard/>
        <DatabaseCard/>
        <CloudCard/>
        <SecurityCard/>
        <ToolsCard/>
    </div>
</section>