---
import FrontendCard from "./FrontendCard.astro";
import BackendCard from "./BackendCard.astro";
import DatabaseCard from "./DatabaseCard.astro";
import ToolsCard from "./ToolsCard.astro";
import CloudCard from "./CloudCard.astro";
import SecurityCard from "./SecurityCard.astro";
---

<section id="stack">
    <div class="grid grid-cols-3 gap-8 mx-auto max-w-7xl">
        <FrontendCard />
        <BackendCard />
        <DatabaseCard />
        <CloudCard />
        <SecurityCard />
        <ToolsCard />
    </div>
</section>