---
import ToolIcon from "@icons/general/ToolIcon.astro";
import GitLogo from "@logos/tools/GitLogo.astro";
import GitHubLogo from "@logos/tools/GitHubLogo.astro";
import VSCodeLogo from "@logos/tools/VSCodeLogo.astro";
import WebStormLogo from "@logos/tools/WebStormLogo.astro";
import PostmanLogo from "@logos/tools/PostmanLogo.astro";
import SwaggerLogo from "@logos/tools/SwaggerLogo.astro";
---

<article class="p-5 space-y-5 rounded-lg border border-neutral-700 bg-neutral-900/30">
    <!-- Card title -->
    <div class="flex items-center gap-3">
        <div class="p-2 rounded-lg bg-neutral-500/20">
            <ToolIcon class="w-7 h-7 text-neutral-400" />
        </div>

        <h3 class="text-xl font-bold text-purple-400">Development Tools</h3>
    </div>

    <!-- Card content -->
    <div class="grid grid-cols-2 gap-3">
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <GitLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">Git</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <GitHubLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">GitHub</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <VSCodeLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">VSCode</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <WebStormLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">WebStorm</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <PostmanLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">Postman</span>
        </div>
        <div class="flex flex-col items-center py-3 gap-2 w-full rounded-lg bg-neutral-800/30">
            <div class="p-2 rounded-lg bg-neutral-700/20">
                <SwaggerLogo class="w-8 h-8" />
            </div>

            <span class="text-sm font-medium text-neutral-400">Swagger</span>
        </div>
    </div>
</article>