---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/navigation/navbar/Navbar.astro";
---

<MainLayout>
	<Navbar />
	<section class="h-screen">a</section>
	<section class="h-screen">b</section>
	<section class="h-screen">c</section>
	<section class="h-screen">d</section>
</MainLayout>
