---
import '@styles/global.css';
import Navbar from "@components/navigation/navbar/Navbar.astro";
import Footer from "@components/navigation/footer/Footer.astro";
---

<html lang="es" class="scroll-smooth">
    <head>
        <!-- Saved theme selector -->
        <script>
            (function() {
                const savedTheme = localStorage.getItem('theme');
                const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
                const isDark = savedTheme === 'dark' || (!savedTheme && prefersDark);

                document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
            })();
        </script>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Alexrsnchz web developer portfolio">
        <meta name="keywords" content="Portfolio, Web Developer, Frontend, Backend, Full-Stack">
        <meta name="author" content="Alexrsnchz">
        <meta name="generator" content={Astro.generator} />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <title>Portfolio</title>
    </head>
    <body>
        <!-- Site background -->
        <div class="bg-gray-50 dark:bg-neutral-950">
            <!-- Site content -->
            <header>
                <Navbar />
            </header>

            <main>
                <div class="mx-auto max-w-5xl">
                    <slot />
                </div>
            </main>

            <footer>
                <Footer />
            </footer>
        </div>
    </body>
</html>